ListView {
  opacity: 0;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
TextField {
  color: white;
}
.delete-container {
  background-color: #CB1D00;
  padding: 5;
  height: 20;
  margin-right: 8;
}
.toggle-button {
  height: 15;
}
.toggle-button Image {
  vertical-align: center;
  margin-left: 5;
}
